.tag {
  height: 25px;
  padding: 0 10px;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: $color-black 1px solid;
  font-size: 16px;
  font-weight: $font-weight-medium;
}
