.footer {
  margin-top: 35px;
  height: 40px;
  text-align: center;

  p {
    padding-bottom: 5px;
    max-width: 80%;
    width: 400px;
    display: inline-block;
    border-bottom: solid 2px;
  }
}
