.footer {
  margin-block-start: $px-35;
  height: $px-40;
  text-align: center;

  p {
    margin-block-end: $px-5;
    max-width: 80%;
    width: $px-400;
    display: inline-block;
    border-bottom: solid $px-2;
  }
}
