.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $px-64;
  height: $px-64;

  .potato_warp {
    img {
      width: $px-12;
      height: $px-64;
      @container (max-width: $px-600) {
        height: $px-48;
      }
    }
  }

  .burger_warp {
    img {
      width: $px-54;
      height: $px-54;
      @container (max-width: $px-600) {
        width: $px-48;
        height: $px-48;
      }
    }
  }
}

.button {
  position: relative;
  width: $px-64;
  height: $px-64;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.iconWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: $px-70;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  gap: $px-10;
  box-shadow: 0 0 $px-3 $color-black;
}

.menuItem {
  padding: $px-10 $px-45;
  text-decoration: none;
  color: $color-black;
  transition: background 0.2s;

  &:hover {
    background: #f0f0f0;
  }
}
