.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;

  .potato_warp {
    img {
      width: 12px;
      height: 64px;
      @container (max-width: 600px) {
        height: 48px;
      }
    }
  }

  .burger_warp {
    img {
      width: 54px;
      height: 54px;
      @container (max-width: 600px) {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.button {
  position: relative;
  width: 64px;
  height: 64px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.iconWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  gap: 10px;
  box-shadow: 0 0 3px $color-black;
}

.menuItem {
  padding: 10px 45px;
  text-decoration: none;
  color: $color-black;
  transition: background 0.2s;

  &:hover {
    background: #f0f0f0;
  }
}
