.subContainer {
  gap: $px-10;
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  .history {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .point {
      width: $px-52;
      height: $px-52;
      border: $px-3 solid $color-blue;
      background-color: $background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: $px-16;
      @container (max-width: $px-400) {
        width: $px-40;
        height: $px-40;
        font-size: $px-13;
      }
    }
    .line {
      height: $px-300;
      width: $px-5;
      background-color: $color-blue;
      position: absolute;
      z-index: -1;
      @container (max-width: $px-400) {
        width: $px-3;
        height: $px-200;
      }
    }
  }
  .historyItem {
    border: $px-1 solid $color-black;
    width: $px-350;
    height: $px-175;
    overflow: hidden;
    padding-left: $px-20;
    padding-right: $px-20;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.02);
    }
    @container (max-width: $px-400) {
      width: $px-225;
      height: $px-150;
    }
    .subTitle {
      text-align: left;
      font-size: $px-25;
      padding-top: $px-10;
      margin: 0;
      @container (max-width: $px-400) {
        font-size: $px-16;
        padding-top: $px-5;
      }
    }
    .navLink {
      text-decoration: none;
      color: $color-blue;
    }
    .description {
      padding-top: $px-10;
      white-space: pre-wrap;
      @container (max-width: $px-400) {
        font-size: $px-13;
        padding-top: $px-5;
      }
    }
  }
}
