.profile {
  display: grid;
  place-content: center;
  place-items: center;
  padding: $px-35 0;
  width: 100%;
  height: auto;
  grid-template-columns: minmax($px-300, $px-550) minmax($px-300, $px-350);

  grid-auto-flow: dense;

  gap: $px-30;
  @container (max-width: $px-800) {
    grid-template-columns: repeat(auto-fit, $px-300);
    padding: $px-5 0;
    gap: $px-20;
  }
  .info {
    order: 0;
    @container (max-width: $px-800) {
      order: 1;
    }
    .name {
      font-size: $px-32;
      border-bottom: $px-1 solid $color-black;
      @container (max-width: $px-800) {
        font-size: $px-26;
        text-align: center;
      }
    }
    .tag {
      margin-top: $px-10;
      gap: $px-15;
      display: flex;
      @container (max-width: $px-800) {
        justify-content: center;
      }
    }
    .detail {
      margin-top: $px-15;
    }
    .detailLink {
      margin-top: $px-25;
      &:hover {
        color: $color-gray;
      }
      @container (max-width: $px-800) {
        text-align: center;
      }
    }
  }

  .selfie {
    text-align: right;
    width: 100%;
    img {
      width: $px-350;
      height: auto;
    }
    @container (max-width: $px-800) {
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
