.container {
  margin-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  word-wrap: break-word;
  container-type: inline-size;

  .title {
    padding: 0;
    margin: 0 0 0 0%;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 5%;
    font-size: 64px;
    color: rgb(9, 123, 223);
    @container (max-width: 400px) {
      font-size: 40px;
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
    place-items: center;
    gap: 35px;
    @container (max-width: 400px) {
      font-size: 16px;
    }
  }
}
