.container {
  border-bottom: $px-1 solid $color-black;
  .title {
    padding-top: $px-25;
    font-size: $px-32;
    font-weight: $font-weight-semi-bold;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(7, $px-100);
    text-align: center;
    place-content: center;
    place-items: center;
    gap: $px-35;
    padding-bottom: $px-25;
    @container (max-width: $px-1100) {
      grid-template-columns: repeat(5, $px-100);
    }
    @container (max-width: $px-750) {
      grid-template-columns: repeat(auto-fit, $px-100);
    }
    @container (max-width: $px-400) {
      gap: $px-20;
      padding: $px-20;
    }

    .iconContainer {
      width: $px-100;
      height: $px-80;
      gap: $px-10;
      padding-top: $px-10;
      padding-bottom: $px-10;
    }
  }
}
