.card {
  width: $px-310;
  border: $px-1 solid $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    width: $px-300;
    font-size: $px-32;
    text-align: center;
    border-bottom: $px-1 solid $color-black;
  }
  .description {
    width: $px-300;
    text-align: center;
  }
}
