.awardCard {
  gap: $px-20;
  display: flex;
  border-bottom: $px-1_5 solid $color-black;
  padding-top: $px-10;
  padding-bottom: $px-10;
  @container (max-width: $px-550) {
    gap: $px-10;
  }
  @container (max-width: $px-420) {
    gap: $px-5;
  }
  .awardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .award {
      &::before {
        content: '[';
        width: $px-3;
        height: $px-3;
        font-weight: $font-weight-medium;
      }

      &::after {
        content: ']';
        width: $px-3;
        height: $px-3;
        font-weight: $font-weight-medium;
      }
      font-size: $px-32;
      font-weight: $font-weight-medium;
      @container (max-width: $px-550) {
        font-size: $px-24;
      }
      @container (max-width: $px-420) {
        font-size: $px-20;
      }
    }
    .date {
      font-size: $px-16;
      @container (max-width: $px-550) {
        font-size: $px-12;
      }
    }
  }
  .subAwardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .hackathonName {
      font-size: $px-32;
      font-weight: $font-weight-medium;
      @container (max-width: $px-550) {
        font-size: $px-24;
      }
      @container (max-width: $px-420) {
        font-size: $px-20;
      }
    }
    .title {
      font-size: $px-24;
      @container (max-width: $px-550) {
        font-size: $px-16;
      }
      @container (max-width: $px-420) {
        font-size: $px-14;
      }
    }
  }
  .link {
    padding-top: $px-5;
    @container (max-width: $px-400) {
      padding-top: 0;
    }
  }
}
